server:
  port: 8070
spring:
  application:
    name: server
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ottdb
    username: root
    password: adminuser
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
      enabled: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: aucu2005@gmail.com
    password: ilel htbm ioye yjte
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          timeout: 5000
    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 10MB

kakao:
  client_id: 52c265fce2ca8dde2b8caebed750d33d
  redirect_uri: http://localhost:8070/member/kakaoLogin


cloud:
  aws:
    s3:
      bucket: kdg-file
    credentials:
      access-key:
      secret-key: 
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false

