server:
  port: 8070
spring:
  application:
    name: server
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/ottdb
    username: root
    password: fugitive89!
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
      enabled: true

  logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.orm.jdbc.bind: trace

  mail:
    host: smtp.gmail.com
    port: 587
    username: sideliner89@gmail.com
    password: ioln tomk lymk fpxv
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          timeout: 5000
    servlet:
      multipart:
        max-file-size: 10MB
        max-request-size: 10MB

kakao:
  client_id: 2d28f949ac248915fcf112c68bb03bfb
  redirect_uri: http://localhost:8070/member/kakaoLogin

cloud:
  aws:
    s3:
      bucket: mu2play
    credentials:
      access-key: AKIAZCJB3XA7K7D7KHRW
      secret-key: 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
    region:
      static: ap-northeast-2
      auto: false
    stack:
      auto: false

