body {background: #060d17;}
a {text-decoration: none; color: inherit;}
button, input[type=submit], input[type=button] {cursor: pointer;}
h1, h2, h3, h4, h5, h6 {font-weight: bold;}

.container {width: 95%; max-width:1640px; margin: 0 auto;}

header {display: flex; justify-content: space-between; padding: 15px 0;}
header .logo {flex: 1;}
header .logo img {cursor: pointer;}
header .gnb {flex: 4; display: flex;}
header .gnb li {flex: 1; color: #999c9f; text-align: center;}
header .gnb li.on {color: #d9e8ed; font-weight: bold;}
header .search {flex: 10; display: flex;}
header .search input {width: 95%; margin-left: 5px;}
header .userinfo {flex: 1; color: #fff; text-align: center;}
header .menu {flex: 1; color: #fff; text-align: right;}
header .menu button {border: 0; background: transparent; color: #fff;}

h3 {color: #d9e8ed; font-size: 1.5em; margin-bottom: 20px;}

.slick-dots li button:before {color: #fff !important;}