.content_wrapper {display: flex; justify-content: space-between;}
.content_info .bottom {display: flex; justify-content: space-between; margin-top: 30px;}
.content_info .left {flex: 3; margin-right: 20px;}
.content_info .right {flex: 1;}
.content_info .left > div {margin-bottom: 30px;}
.content_info .top {position: relative; height: 250px; overflow: hidden; padding: 40px 100px; background-size: auto; background-position: center right; background-repeat: no-repeat;}
.content_info .top h2 {font-size: 1.8em;}
.content_info .top h2 span {color: #d9e8ed; font-size: 1.5rem;}
.content_info .top p {margin-top: 15px;}
.content_info .top div {margin-top: 15px;}
.content_info .top div span {display: inline-block; margin-right: 10px;}
.content_info .top div span.star small {color:#777; font-size: 0.8em;}
.content_info .top div ul {display: flex;}
.content_info .top div ul li {margin-right: 10px;}
.content_info .top div .oneline {margin-top: 30px; color: #777; font-style: italic}
.content_info .episodes li {padding: 20px; background: #111924; display: flex;}
.content_info .episodes li:nth-child(2n) {background: #0c131e;}
.content_info .episodes li img {display: inline-block; width: 185px; height: 104px;}
.content_info .episodes li p {margin-bottom: 10px; margin-left: 20px;}
.content_info .episodes li p:last-child {margin-bottom: 0;}
.content_info .episodes li p span {color: #777; font-size: 0.9em;}
.content_info .providers {}
.content_info .providers > div {background: #0c131e; padding-top: 20px;}
.content_info .providers > div h4 {padding: 0 20px; font-size: 1.1em;}
.content_info .providers > div ul {margin-top: 20px;}
.content_info .providers > div ul li {display: flex; justify-content: space-between; align-items: center; padding: 20px;}
.content_info .providers > div ul li:nth-child(2n-1) {background: #111924;}
.content_info .providers > div ul li img {}
.content_info .providers > div ul li a {padding: 15px; border-radius: 10px;}
.content_info .synopsis p {background: #0c131e; padding: 20px;}
.content_info .video > div, .content_info .seasons > div, .content_info .video > div, .content_info .cast > div, .content_info .similar > div, .content_info .recommendations > div {max-width: 1215px;}
.content_info .cast .profile {background: #0c131e; text-align: center;}
.content_info .cast .profile > div {height: 250px; padding: 20px;}
.content_info .cast .profile .image_wrapper {display: inline-block; width: 92px; height: 138px; border-radius: 10px; overflow: hidden;}
.content_info .cast .profile .image_wrapper img {display: inline-block; width: 100%; height: 100%;}
.content_info .cast .profile p {margin-top: 15px;}
.content_info .review {}
.content_info .review h3 small {font-size: 0.8em;}
.content_info .review .write {padding: 20px; background: #060d17;}
.content_info .review .write .rating {font-size:1.5em;}
.content_info .review .write .textBox {display: flex; justify-content: space-between;}
.content_info .review .write .textBox textarea {flex: 10; height: 100px; padding: 10px; resize: none; margin-right: 10px; background: #111924; border: none; outline: none; color: #fff;}
.content_info .review .write .textBox button {flex: 1;}
.content_info .review .reviewList li {padding: 20px; background: #111924;}
.content_info .review .reviewList li:nth-child(2n) {background: #0c131e;}
.content_info .review .reviewList li p {margin-bottom: 10px;}
.content_info .review .reviewList li p span {display: inline-block;}
.content_info .review .reviewList li p small {color:#777; font-size: 0.8em;}
.content_info .review .reviewList li div {display: flex; justify-content: space-between;}
.content_info .review .reviewList li div pre {flex: 8; min-height: 50px;}
.content_info .review .reviewList li div button {flex: 1; margin-left: 10px;}
.content_info .review .more {margin-top: 20px;}
.content_info .review .more button {width: 100%; height: 60px;}

.content_info .right .movieInfo {}
.content_info .right .movieInfo ul {}
.content_info .right .movieInfo ul li {padding: 20px 0; border-bottom: 1px solid #111924;}
.content_info .right .movieInfo ul li:first-child {padding-top: 0;}
.content_info .right .movieInfo ul li div {display: flex; justify-content: space-between; margin-top: 20px;}
.content_info .right .movieInfo ul li div button {width: 45%; padding: 15px; background: #222c38; color: #fff; font-size: 1.2em; border: 0; border-radius: 10px;}
.content_info .right .movieInfo ul li div button.on {background: #f5c518 !important; color: #060d17 !important;}
.content_info .right .movieInfo ul li div button small {font-size: 0.8em; margin-left: 10px;}
.content_info .right .movieInfo ul li h4 {margin-bottom: 20px; font-size: 1.1em;}
.content_info .right .movieInfo ul li.directors p {margin-top: 10px;}
.content_info .right .movieInfo ul li.ratings p {margin-bottom: 10px;}
.content_info .right .movieInfo ul li.ratings p img {display: inline-block; height: 30px; margin-right: 10px; vertical-align: middle;}
.content_info .right .movieInfo ul li.ratings p small {display: inline-block;}

.lists {margin-bottom: 30px;}
.lists .list {padding: 0; text-align: center;}