.content_wrapper {display: flex; justify-content: space-between;}
.content_info .bottom {display: flex; justify-content: space-between; margin-top: 30px;}
.content_info .left {flex: 3; margin-right: 20px;}
.content_info .right {flex: 1;}
.content_info .left > div {margin-bottom: 30px;}
.content_info .top {position: relative; height: 250px; overflow: hidden; padding: 40px 100px; background-size: auto; background-position: center right; background-repeat: no-repeat;}
.content_info .top h2 {font-size: 1.8em;}
.content_info .top h2 span {color: #d9e8ed; font-size: 1.5rem;}
.content_info .top p {margin-top: 15px;}
.content_info .top div {margin-top: 15px;}
.content_info .top div span {display: inline-block; margin-right: 10px;}
.content_info .top div span.star small {color:#777; font-size: 0.8em;}
.content_info .top div ul {display: flex;}
.content_info .top div ul li {margin-right: 10px;}
.content_info .top div .oneline {margin-top: 30px; color: #777; font-style: italic}
.content_info .bottom .synop_pro {display: flex; justify-content: space-between;}
.content_info .bottom .synop_pro .synopsis {flex: 1; margin-right: 20px; overflow: hidden;}
.content_info .bottom .synop_pro .providers {flex: 1;}
.content_info .episodes .episodeCount {padding: 30px; background: #0c131e; font-weight: bold; text-align: center;}
.content_info .episodes ul.hide {display: none;}
.content_info .episodes ul.show {display: block;}
.content_info .episodes li {padding: 20px; background: #111924; display: flex;}
.content_info .episodes li:nth-child(2n) {background: #0c131e;}
.content_info .episodes li img {display: inline-block; width: 185px; height: 104px;}
.content_info .episodes li p {margin-bottom: 10px; margin-left: 20px;}
.content_info .episodes li p:last-child {margin-bottom: 0;}
.content_info .episodes li p span {color: #777; font-size: 0.9em;}
.content_info .episodes .expand {text-align: center; padding: 10px 0; border-radius: 0;}
.content_info .providers {}
.content_info .providers > ul {margin-top: 20px; background: #0c131e;}
.content_info .providers > ul li {display: flex; justify-content: space-between; align-items: center; padding: 20px;}
.content_info .providers > ul li:nth-child(2n-1) {background: #111924;}
.content_info .providers > ul li img {width: 100px;}
.content_info .providers > ul li span {margin: 0; line-height: 40px;}
.content_info .providers > ul li a {padding: 0 15px; line-height: 40px; border-radius: 10px;}
.content_info .synopsis p {background: #0c131e; padding: 20px; height: 100%; line-height: 1.5em;}
.content_info .video > div, .content_info .seasons > div, .content_info .video > div, .content_info .cast > div, .content_info .similar > div, .content_info .recommendations > div {max-width: 1215px;}
.content_info .cast .profile {background: #0c131e; text-align: center;}
.content_info .cast .profile > div {height: 250px; padding: 20px;}
.content_info .cast .profile .image_wrapper {display: inline-block; width: 92px; height: 138px; border-radius: 10px; overflow: hidden;}
.content_info .cast .profile .image_wrapper img {display: inline-block; width: 100%; height: 100%;}
.content_info .cast .profile p {margin-top: 15px;}
.content_info .review {}
.content_info .review h3 small {font-size: 0.8em;}
.content_info .review .write {padding: 20px; background: #060d17;}
.content_info .review .write .rating {font-size:1.5em;}
.content_info .review .write .textBox {display: flex; justify-content: space-between;}
.content_info .review .write .textBox textarea {flex: 10; height: 100px; padding: 10px; resize: none; margin-top: 10px; margin-right: 10px; background: #111924; border: none; outline: none; color: #fff;}
.content_info .review .write .textBox button {flex: 1;}
.content_info .review .reviewList > li {padding: 20px; background: #111924;}
.content_info .review .reviewList > li:nth-child(2n) {background: #0c131e;}
.content_info .review .reviewList > li > div {margin-bottom: 10px;}
.content_info .review .reviewList > li > div span {display: inline-block;}
.content_info .review .reviewList > li > div small {color:#777; font-size: 0.8em;}
.content_info .review .reviewList > li > div {display: flex; justify-content: space-between;}
.content_info .review .reviewList > li > div div {position: relative;}
.content_info .review .reviewList > li > div div .menuButton {border: none; outline: none; background: transparent; color: #fff; font-size: 1.2em;}
.content_info .review .reviewList > li > div div ul {display: none; position: absolute; top: 0; right: 0; width: 140px;}
.content_info .review .reviewList > li > div div ul.on {display: inline-block;}
.content_info .review .reviewList > li > div div ul li {text-align: center; background: #222c38; padding: 7px 0; border-bottom: 1px solid #4d4d4d;}
.content_info .review .reviewList > li > div div ul li:last-child {border-bottom: 0;}
.content_info .review .reviewList > li > div div ul li:hover {background: #f5c518; color: #060d17;}
.content_info .review .reviewList > li > div div ul li button {border: none; outline: none; background: transparent; color: #fff;}
.content_info .review .reviewList > li pre {flex: 8; min-height: 50px;}
.content_info .review .reviewList > li p {cursor: pointer;}
.content_info .review .more {margin-top: 20px;}
.content_info .review .more button {width: 100%; height: 60px;}

.content_info .right .movieInfo {}
.content_info .right .movieInfo > ul {}
.content_info .right .movieInfo > ul li {padding: 20px 0; border-bottom: 1px solid #111924;}
.content_info .right .movieInfo > ul li:first-child {padding-top: 0;}
.content_info .right .movieInfo > ul li > div {display: flex; justify-content: space-between; margin-top: 20px;}
.content_info .right .movieInfo > ul li > div button {width: 45%; padding: 15px; background: #222c38; color: #fff; font-size: 1.2em; border: 0; border-radius: 10px;}
.content_info .right .movieInfo > ul li > div button.on {background: #f5c518 !important; color: #060d17 !important;}
.content_info .right .movieInfo > ul li > div button small {font-size: 0.8em; margin-left: 10px;}
.content_info .right .movieInfo > ul li h4 {margin-bottom: 20px; font-size: 1.1em;}
.content_info .right .movieInfo > ul li.directors p {margin-top: 10px;}
.content_info .right .movieInfo > ul li.poster div.ratings {width: 55%;}
.content_info .right .movieInfo > ul li.poster div.ratings p {margin-bottom: 10px;}
.content_info .right .movieInfo > ul li.poster div.ratings p img {display: inline-block; height: 30px; margin-right: 10px; vertical-align: middle;}
.content_info .right .movieInfo > ul li.poster div.ratings p small {display: inline-block;}

.lists {margin-bottom: 30px;}
.lists .list {padding: 0; text-align: center;}

/* 모달 */
.modalOverlay {position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0,0,0,0.6); display: flex; justify-content: center; align-items: center; z-index: 1000;}
.modalContent {background: #1e1e1e; padding: 20px; border-radius: 10px; width: 400px;}
.modalContent .flex {display: flex; justify-content: space-between; align-items: center;}
.modalContent.modalReview {width: 1200px;}
.modalContent.modalReview textarea {width: 1180px; height: 100px; padding: 10px; margin-top: 10px; resize: none; background: #111924; border: none; outline: none; color: #fff;}
.modalContent ul {}
.modalContent small {font-size: 0.6em;}
.modalContent ul li {padding: 20px 0; border-bottom: 1px solid #2a2a2a;}
.modalContent ul li button {width: 20px; border: none; outline: none; background: transparent; color: #f5c518; font-size: 1.5em;}
.modalContent div input[type=text] {width: 380px; margin-bottom: 20px; padding:0 10px; background: #10161d; border: 0; border-radius: 5px; color: #fff; font-size: 1.1em; line-height: 40px;}
.modalContent .checkboxWrap input[type=checkbox] {display: none;}
.modalContent .checkboxWrap input[type=checkbox]:checked+label b {display: inline-block; width: 20px; color: #f5c518;}
.modalContent .checkboxWrap label {align-items: center;}
.modalContent .buttonWrap {display: flex; justify-content: space-between; margin-top: 20px;}
.modalContent .buttonWrap button {width: 49%; padding: 10px 0;}