.follower-container {
  width: 1200px;
  margin: 40px auto;
  font-family: Arial, sans-serif;
  /* border: 1px solid rgb(216, 240, 6); */
  padding: 30px;
}

.follower-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  /* border: 1px solid red; */
}

.follower-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.follower-item {
  display: flex;
  align-items: center;
  padding: 12px 10px;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  transition: background 0.2s ease;
}

.follower-item:hover {
  background-color: #fafafa;
}

.avatar {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 12px;
}

.follower-info {
  display: flex;
  flex-direction: row;
  /* border: 1px solid green; */
}

.follower-text {
  padding-left: 10px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid palevioletred;
  width: 600px;
  height: 92px;
}

.follower-name {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 3px;
  /* border: 1px solid red; */
  padding-top: 10px;
}


.follower-desc {
  font-size: 13px;
  color: #f58f09;
}

.follow-image-container {
  position: relative;
  /* 커버 이미지 높이(200px)와 아바타 크기(80px)의 절반을 고려하여 위로 올립니다. */
  left: 0;
  width: 80px; /* 아바타 크기 */
  height: 80px;
  border-radius: 50%;
  background-color: #fff; /* 테두리 효과를 위해 흰색 배경 추가 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.follow-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.follow-image {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}