.lists {margin-bottom: 30px;}
.lists .list {position: relative; border-radius: 5px; padding: 0 5px; text-align: center;}
.lists .list a {display: inline-block; border-radius: 10px; overflow: hidden;}
.lists .list a img {display: inline-block; width: 100%; height: 100%;}

.lists.popular .list {padding: 0;}
.lists.popular .list a {color: #d9e8ed; display: flex; justify-content: space-between;}
.lists.popular .list a div {width: 75%; padding: 150px 100px;}
.lists.popular .list a div h4 {font-size: 1.5em; margin-bottom: 50px;}
.lists.popular .list a div p {line-height: 1.3em;}
.lists.popular .list a img {width: 342px;}