.lists {margin-bottom: 60px;}
.lists .list {padding: 0 5px; text-align: center;}
.lists .list div.cover {position: relative; display: inline-block; height: 280px; border-radius: 10px; overflow: hidden;}
.lists .list div.cover img {display: inline-block; width: 100%; height: 100%;}
.lists .list div.cover a {position: absolute; top: 0; left : 0; display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.6);}
.lists .list div.cover:hover a {display: flex; justify-content: space-between; flex-direction: column;}
.lists .list div.cover a div {display: flex; justify-content: space-around; padding: 10px;}
.lists .list div.cover a div button {border: 0; background: transparent; color: #fff; font-size: 1.2em;}
.lists .list div.cover a div button.on {color: #f5c518;}
.lists .list div.cover a ul {padding: 20px 5px;}
.lists .list div.cover a ul li {color: #fff; margin-top: 5px; text-align: center;}
.lists .list div.cover a ul li img {display: inline-block; width: 40%;}

.lists.popular .list {padding: 0;}
.lists.popular .list a {color: #d9e8ed; display: flex; justify-content: space-between;}
.lists.popular .list a div {width: 75%; padding: 150px 100px;}
.lists.popular .list a div h4 {font-size: 1.5em; margin-bottom: 50px;}
.lists.popular .list a div p {line-height: 1.3em;}
.lists.popular .list a img {width: 342px;}