.list-page {
    background: #0b0b0b;
    min-height: 100vh;
    color: white;
    padding: 20px 40px;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.list-header h1 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
}

.list-menu button {
    /* margin-left: 10px;
    padding: 8px 14px;
    background: #1d1d1d;
    color: #ddd;
    border: 1px solid #333;
    border-radius: 6px; */
    cursor: pointer;

    background: #f5c518;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 0.85rem;
    transition: background 0.2s;
    margin-right: 10px;
}

.menu button:hover {
    background: #333;
}

/* 콘텐츠 그리드 */
.content-grid {
    display: grid;
    gap: 18px;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

/* 카드 */
.card {
    position: relative;
    cursor: pointer;
    transition: transform 0.25s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 281px;
    border-radius: 8px;
}

.card-overlay {
    opacity: 0;
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    border-radius: 8px;
    transition: opacity 0.25s;
}

.card:hover .card-overlay {
    opacity: 1;
}

.mylist-title {
    margin-top: 6px;
    font-size: 15px;
    text-align: center;
}

.mlv-modalOverlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.mlv-modalContent {
    background: #1c1c1c;
    padding: 20px 30px;
    border-radius: 12px;
    color: #fff;
    width: 340px;
}

.mlv-buttonWrap {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}

.mlv-cancelButton {
    background: none;
    border: 1px solid #888;
    padding: 8px 16px;
    border-radius: 6px;
    color: #ccc;
}

.mlv-deleteConfirmButton {
    background: #ff3b3b;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    color: white;
}