/* .movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  cursor: pointer;
}

.poster {
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 2 / 3;
  object-fit: cover;
}

.title {
  font-size: 14px;
  margin-top: 5px;
}

.score {
  font-size: 13px;
  color: #f5c518;
} */

.tr-container {
  padding: 40px;
}

.tr-grid {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.tr-card {
  width: 320px;
  background-color: #1a1a1d;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: transform .2s;
}

.tr-card:hover {
  transform: scale(1.05);
}

.tr-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  filter: brightness(70%);
}

.tr-info {
  padding: 15px;
}

.tr-tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.tr-tabs button {
  background-color: transparent;
  color: gray;
  border: none;
  font-size: 18px;
  cursor: pointer;
  flex: 1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
}
.tr-tabs .active {
  color: #f3d45c; /* 노란색 강조 */
  border-bottom: 3px solid #f3d45c;
}

/* 콘텐츠 그리드 */
.tr-content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.tr-slider-grid {
  
}